{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h1 style="color: #68a500;">About us</h1><hr>
    <p>
Lorem ipsum dolor sit amet, mei ne fugit postea postulant. Duo elit mucius molestie id. Eam ad discere fuisset.
        Sed ne alii tollit timeam, et nostrud nostrum corrumpit vis. Cu tota ipsum ius, sint decore eleifend duo ut.
        Pri dicit choro facete an.

Audiam ponderum mediocrem his cu, sea adhuc consul volutpat ad. Ei tempor probatus aliquando eum. Quo at
        tantas moderatius, agam case his ut, eu adolescens persequeris reprehendunt pri. In erat ullum torquatos
        vim, est at omnes nominati evertitur.

Pro commodo tacimates quaerendum in, eruditi quaestio ea vel. Mea et vide ferri, facer iracundia referrentur has
        eu, in virtute petentium has. Pro assum error ne, dicam oportere his ex. At labore audire quo, cetero percipit
        te cum. Oportere maluisset et quo, ius eu propriae imperdiet signiferumque, iuvaret appetere molestiae
        id nam. Ad eam quem copiosae epicurei, amet eros vituperatoribus ut his.

Ut nam impedit noluisse patrioque, vis populo pertinax te, mel fastidii oportere te. Ius et errem consulatu.
        Te sed errem epicurei percipit. Cum natum tation ex, mel nostrum delectus an. Et pro ullum fastidii,
        dico detracto philosophia quo id. Te cum consetetur argumentum, est ad admodum adolescens ullamcorper.

Putent laboramus moderatius duo no, mea ne solum indoctum voluptatum. Postea denique usu ex, nostro delectus
        urbanitas est ut. Lorem virtute ancillae at cum, sea scripta molestie cu. Sea id quodsi laoreet,
        eu duo velit dolorum eligendi, pri populo prodesset ad. Mei ullum gloriatur ad, nullam feugait vel id.
        In mutat fabulas eloquentiam mei, sit aeterno placerat adipisci eu.
</p>
{% endblock %}