{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h1 style="color:#68a500;">Profile of {{ user.username }}:</h1><hr>
<div class="row">
<div class="col-md-4">
    <img src="{{ profile.avatar.url }}" class="img-fluid img-thumbnail" />
</div>
<div class="col-md-8">
    <p><strong>Username: </strong>{{ user.username }}</p>
    <p><strong>Name: </strong>{{ user.first_name }} {{ user.last_name }}</p>
    {% if profile %}
    <p><strong>Address: </strong>{{ profile.address }}, {{ profile.city }}, {{ profile.postcode }}, {{ profile.country }} </p>
    {% if profile.address2 %}
    <p><strong>Additional address: </strong>{{ profile.address2 }}</p>
    {% endif %}
    <p><strong>Phone: </strong>{{ profile.phone }}</p>
    {% endif %}
    <br />
    <button class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-lg">Modify</button>

</div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change details for: {{ request.user.username }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'changeprofile' %}">{% csrf_token %}

              <div class="form-group">
                <label for="address" class="col-form-label">Address:</label>
                <input type="text" name='address' class="form-control" id="address" />
              </div>

              <div class="form-group">
                <label for="address2" class="col-form-label">Address 2 (optional):</label>
                <input type="text" name='address2' class="form-control" id="address2" />
              </div>

              <div class="form-group">
                <label for="phone" class="col-form-label">Phone number:</label>
                <input type="text" name='phone' class="form-control" id="phone" />
              </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </form>
    </div>
  </div>
</div>
<br />

<table class="table">
       <tr>
           <th>id</th>
           <th>Item name</th>
           <th>Upload date</th>
           <th>Action</th>
   </tr>
    {% for product in product %}
    <tr>
    <td>{{ product.id }}</td>
    <td width="50%"><a href="{% url 'details' product.id %}" class="text-secondary">{{ product.title }}</a></td>
    <td>{{ product.pub_date }}</td>
    <td><a href="{% url 'delete' product.id %}"><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">Delete</button></a></td>
    </tr>


{% endfor %}

</table>
{% endblock %}