{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<h1 style="color:#68a500;">Profile of {{ user.username }}:</h1><hr>
<div class="row">
<div class="col-md-4">
    <img src="{{ profile.avatar.url }}" class="img-fluid img-thumbnail" />
</div>
<div class="col-md-8">
    <p><strong>Username: </strong>{{ user.username }}</p>
    <p><strong>Name: </strong>{{ user.first_name }} {{ user.last_name }}</p>
    {% if profile %}
    <p><strong>Address: </strong>{{ profile.address }}, {{ profile.city }}, {{ profile.postcode }}, {{ profile.country }} </p>
    {% if profile.address2 %}
    <p><strong>Additional address: </strong>{{ profile.address2 }}</p>
    {% endif %}
    <p><strong>Phone: </strong>{{ profile.phone }}</p>
    {% endif %}

</div>
</div><br />
<h3 style="color:#68a500;">List of {{ user.username }}'s products:</h3><br/>
    <table class="table">
       <tr>
           <th>id</th>
           <th>Item name</th>
           <th>Upload date</th>
   </tr>
    {% for product in product %}
    <tr>
    <td>{{ product.id }}</td>
    <td width="70%"><a href="{% url 'details' product.id %}" class="text-success">{{ product.title }}</a></td>
    <td>{{ product.pub_date }}</td>
    </tr>


{% endfor %}

</table>



{% endblock %}