{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{#<iframe width="100%" height="500" src="https://www.youtube.com/embed/GuZkZwtCPhU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}

    {% if request.user.is_authenticated %}
    <p>Why do you want to register again?</p>
    {% else %}
    <h1 style="color:#68a500;">Registration</h1>
    {% if error %}
        <p style="color: red;"><small>{{ error }}</small></p>
    {% endif %}
    <hr>

<form class="needs-validation" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="phone">Phone number</label>
        <input type="text" name="number" class="form-control" id="idphone" placeholder="Phone number" required />
    </div>
</div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email" onblur="emailValidation(this)" required />
        <div id="emailValid" style="color: green;">
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Password</label>
      <input type="password" name="password1" class="form-control" id="inputPassword4" placeholder="Password"
             onblur="CheckPassword(this)" required />
        <div id="passwordDescription" style="color: green;">
      </div>
    </div>
      <div class="form-group col-md-3">
      <label for="inputPassword4">Confirm password</label>
      <input type="password" name ='password2' class="form-control" id="inputPassword5" placeholder="Confirm password"
             onblur="comparePassword(document.getElementById('inputPassword4'), this)" required>
        <div id="passwordMatching" style="color: green;">
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputUsername">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required />
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">First name</label>
      <input type="text" name='firstname' class="form-control" id="firstName" placeholder="First name" required />
    </div>
      <div class="form-group col-md-3">
      <label for="inputPassword4">Last name</label>
      <input type="text" name="lastname" class="form-control" id="lastName" placeholder="Last name" required />
    </div>

      <div class="form-group col-md-3">
      <label for="inputDate">Year of Birth</label>
      <select name="yearofbirth" id="inputAge" class="form-control" required>
        <option selected>Choose...</option>
        {% for age in age %}
          <option>{{ age }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St" required />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" name="city" class="form-control" id="inputCity" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Country</label>
      <select id="inputState" class="form-control special" name="country" required>
        <option selected>Choose...</option>
        {% for country in countries %}
          <option>{{ country }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="number" name="postcode" class="form-control" id="inputZip" required />
    </div>
  </div>
<p>Choose image. This image will be shown as your avatar. Not more than 5MB </p>
    <div class="form-group col-md-6">
        <input type="file" name="image" class="custom-file-input" id="customFile"
               onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
        <label class="custom-file-label" for="customFile">Choose image</label>
    </div>

  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" required />
      <label class="form-check-label" for="gridCheck">
        I agree with <a href="{% url 'about' %}" class="text-success" data-toggle="modal" data-target="#exampleModalLong">terms of conditions</a>
      </label>
{#        MODAL WINDOW #}

        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Terms of conditions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p><object data="{% static 'toc.txt' %}" width="100%" height="450"></object> </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>



  <button type="submit" class="btn btn-success">Register</button>
</form>
{% endif %}
{% endblock %}