{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h1 style="color:#68a500;">Sell a product:</h1><hr>

<form class="needs-validation" method="POST" action="{% url 'create' %}" enctype="multipart/form-data">{% csrf_token %}
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="title">Create a title of the product</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title" required />
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <label for="desc">Write a description:</label>
        <textarea class="form-control" aria-label="With textarea" name="desc" id="desc" placeholder="Description" required></textarea>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-3">
        <label for="cat">Choose category:</label>
        <select class="form-control" name="cat" id="cat" required>
            <option value="" selected disabled hidden>Choose category</option>
            <option value="electronics">Electronics</option>
            <option value="furniture">Furniture</option>
            <option value="cars">Cars</option>
            <option value="property">Property</option>
            <option value="games">Games</option>
            <option value="computers">Computers</option>
            <option value="clothes">Clothes</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <label for="subcat">Choose subcategory:</label>
        <select class="form-control" name="subcat" id="subcat" required>
            <option value="" selected disabled hidden>Choose subcategory</option>
            <option value="phones">Mobile phones</option>
            <option value="television">Television</option>
            <option value="photography">Photography</option>
            <option value="consoles">Game consoles</option>
            <option value="players">MP3 Players</option>
            <option value="accessories">Accessories</option>
        </select>
    </div>
</div>
<p>Choose at least one image of your product.<br /> Every image must be not more than 5Mb</p>
<div class="input-group col-mb-6">
  <div class="custom-file col-md-6">
    <input type="file" name="image1" class="custom-file-input" id="image1"
           onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])" required>
    <label class="custom-file-label" for="inputGroupFile01">Choose image 1</label>
  </div>
</div>
    <br/>
<div class="input-group col-mb-6">
  <div class="custom-file col-md-6">
    <input type="file" name="image2" class="custom-file-input" id="image2"
           onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
    <label class="custom-file-label" for="inputGroupFile01">Choose image 2</label>
  </div>
</div>
<br/>
<div class="input-group col-mb-6">
  <div class="custom-file col-md-6">
    <input type="file" name="image3" class="custom-file-input" id="image3"
           onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
    <label class="custom-file-label" for="inputGroupFile01">Choose image 3</label>
  </div>
</div>
<br/>
<div class="input-group col-mb-6">
  <div class="custom-file col-md-6">
    <input type="file" name="image4" class="custom-file-input" id="image4"
           onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
    <label class="custom-file-label" for="inputGroupFile01">Choose image 4</label>
  </div>
</div>
<br/>
<div class="input-group col-mb-6">
  <div class="custom-file col-md-6">
    <input type="file" name="image5" class="custom-file-input" id="image5"
           onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
    <label class="custom-file-label" for="inputGroupFile01">Choose image 5</label>
  </div>
</div>
    <br />
    <input type="submit" class="btn btn-success" value="Add product" />
</form>





{% endblock %}