{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<a href="{% url 'home' %}" class="text-success">Home > &nbsp</a><a href="{% url 'productlist' %}?cat={{ category.parent }}" class="text-success">{{ category.parent }} >&nbsp</a>
<a href="{% url 'productlist' %}?cat={{ category.parent }}&subcat={{ category.name }}" class="text-success">{{ category.name }} </a><hr>
<h1>{{ product.title }}</h1><hr><br />
    {{ error }}
<div class="row">
<div class="col-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" style=" width:100%; height: 400px !important;">
    <div class="carousel-item active">
      <a href="{{ images.image1.url }}"><img class="d-block w-100" src="{{ images.image1.url }}" alt="First slide"></a>
    </div>
      {% if images.image2 %}
    <div class="carousel-item">
      <a href="{{ images.image2.url }}"><img class="d-block w-100" src="{{ images.image2.url }}" alt="Second slide"></a>
    </div>
      {% endif %}
  {% if images.image3 %}
    <div class="carousel-item">
      <a href="{{ images.image3.url }}"><img class="d-block w-100" src="{{ images.image3.url }}" alt="Third slide"></a>
    </div>
      {% endif %}
  {% if images.image4 %}
    <div class="carousel-item">
      <a href="{{ images.image4.url }}"><img class="d-block w-100" src="{{ images.image4.url }}" alt="Fourth slide"></a>
    </div>
      {% endif %}
  {% if images.image5 %}
    <div class="carousel-item">
      <a href="{{ images.image5.url }}"><img class="d-block w-100" src="{{ images.image5.url }}" alt="Fifth slide"></a>
    </div>
      {% endif %}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="col-7">
    <div class="row text-right">
        <h1 style="color:#68a500; align-content: right;">NZ$ {{ product.price|intcomma }}</h1>
    </div>
    <hr>
    {% if request.user.username == product.uploader.username %}
        <p><strong>Seller: </strong><a href="{% url 'myprofile' %}">{{ product.uploader }}</a></p>
    {% else %}
        <p><strong>Seller: </strong><a href="{% url 'userprofile' product.uploader.id %}">{{ product.uploader }}</a></p>
    {% endif %}
    <p><strong>Description: </strong><br />{{ product.body }}</p>
    <p><strong>Date:</strong> {{ product.pub_date }}</p>

    <br />
    {% if not request.user.is_superuser and request.user.is_authenticated and request.user != product.uploader %}
    <a href="{% url 'addtocart' product_id=product.id %}"><button class="btn btn-success" {{ disabled }}>Add to cart</button></a>
    {% endif %}

{% if request.user.is_superuser and request.user.is_authenticated or request.user.is_authenticated and request.user == product.uploader %}
    <a href="#"><button class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-lg">Modify</button></a>
    {% endif %}





{#  MODAL  #}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change details for <br /> {{ product.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'changedetails' product.id %}">{% csrf_token %}
              <div class="form-group">
                <label for="title" class="col-form-label">Title:</label>
                <input type="text" name='title' class="form-control" id="title">
              </div>
              <div class="form-group">
                <label for="body" class="col-form-label">Description:</label>
                <textarea class="form-control" id="body" name="body"></textarea>
              </div>
              <div class="form-group">
                <label for="price" class="col-form-label">Price:</label>
                <input type="text" class="form-control" id="price" name="price">
              </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
        </form>
    </div>
  </div>
</div>

</div>

</div>
{% endblock %}