{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}

<h1 style="color:#68a500;">Products in {{ category }}:</h1><hr>

<div class="row">
    <div class="col-3">
        <table class="table table-hover">
            <tr>
                <th>List of subcategories</th>
            </tr>
            {% for subcat in subcat %}
            <tr>
                <td><a href="{% url 'productlist' %}?cat={{ category }}&subcat={{ subcat }}"  style="color:#68a500;">{{ subcat }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-9">
        {% if subcategory %}
            <h3 style="color:#68a500;">Products in {{ subcategory }}:</h3><hr>
        {% endif %}

        {% for product in result %}
        <div class="row">
            <div class="col-3">
                <img class="img-fluid img-thumbnail" src="{{ product.images.image1.url }}" width="200" />
            </div>
            <div class="col-6">
                <a href="{% url 'details' product.id %}" class="text-success">{{ product.title }}</a><br /><br />
                {% if request.user.username == product.uploader.username %}
                    <p>Uploader: <a href="{% url 'myprofile' %}">{{ product.uploader }}</a></p>
                {% else %}
                    <p>Uploader: <a href="{% url 'userprofile' product.uploader.id %}">{{ product.uploader }}</a></p>
                {% endif %}
            </div>
            <div class="col-3 text-right">
                <h5 style="color:#72310b;">NZ$ <i>{{ product.price|intcomma }}</i></h5>
            </div>
        </div>
            <hr>
        {% endfor %}

    </div>
</div>

{% endblock %}